---
---

@import "{{ site.theme }}";

#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#000;
}

#main_content_wrap {
	width: 85%; 
}

pre,
code {
    color: white; 
	background-color: black;
}

#searchBar {
       font-size: 80%;
       padding: 0.43em 0 0.57em;

       #search {
         float: right;

         #searchString {
           width: 283px;
           border: none;
           box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
           padding: 0.3em 0.6em;
           background-color: #f6f5ea;
           margin-right: 0;
         }

         #searchButton {
           padding: 0.3em 0.6em;
           background-color: #0B5485;
           border: 1px solid #f6f5ea;
           margin-left: 0;
           color: white;
           -webkit-appearance: none;
           border-radius: 0;
         }
   }
}

