/*

  Global stylesheet for GitHub markdown pages.
  Extend the configuration of classes here.
  
  As a general rule, a Markdown -> HTML translation looks like:
  
  #      -> h1
  ##     -> h2
  ###    -> h3
  >      -> blockquote
  `code` -> code
  
  Be careful as pre-defined class and/or id properties may be overwritten.
  
  View the source of a page in the Developer mode of your browser
  to see more precisely how Markdown gets rendered as HTML.

*/

/*

Global document settings

*/

.lg-background-color {
  background-color: #212328;
}

code.bold {
  font-weight: bold;
}

ol, ul {
  font: 300 16px/1.7 'Roboto Slab', serif;
  color: #333;
}

pre {
  display: inline-block;
  width: 100%;
  font: 14px 'Source Code Pro', monospace;
  color: #111;
  border: 0;
  background-color: #F8F8F8;
  resize: none;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
}

code {
  color: #111;
  background-color: #F2F2F2;
  padding: .1rem .3rem;
}

b,
strong {
  font-weight: bold;
}

/*

Begin search bar CSS

*/

input {
  outline: none;
}
input[type=text] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=text] {
  background: #212328 url(img/search.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  color: #999999;
}
input[type=text]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #76A3ED;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

#searchform input[type=text] {
  display: block;
  margin: 0 0 0 auto;
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#searchform input[type=text]:hover {
  background-color: #fff;
}
#searchform input[type=text]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#searchform input:-moz-placeholder {
  color: transparent;
}
#searchform input::-webkit-input-placeholder {
  color: transparent;
}

@media (max-width: 991px) {
  input[type=text] {
    width: 100%;
    border: 0px;
    margin: 5px 5px 5px 5px;
    background-color: #626262;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
  }
  input[type=text]:focus {
    width: 100%;
  }
}


/*

Begin footer CSS

*/


.footer-distributed{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 12px;
  margin: 3px;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:14px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

/*

Table CSS inspired by the pen
'Simple Responsive Table in CSS' by Matt Smith

https://codepen.io/AllThingsSmitty/pen/MyqmdM

*/

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-size: 1.2em;
}

table caption {
  font-size: 2.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
