/*

  Global stylesheet for GitHub markdown pages.
  Extend the configuration of classes here.
  
  As a general rule, a Markdown -> HTML translation looks like:
  
  #      -> h1
  ##     -> h2
  ###    -> h3
  >      -> blockquote
  `code` -> code
  
  Be careful as pre-defined class and/or id properties may be overwritten.
  
  View the source of a page in the Developer mode of your browser
  to see more precisely how Markdown gets rendered as HTML.

*/

/*

Global document settings

*/

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: white;
}

a, button { transition: all 0.3s ease; }
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

#mainNav {
    font-family: 'Fira Sans', sans-serif;
}

p:last-child { margin-bottom: 0; }

blockquote {
    position: relative;
    display: inline-block;
    padding: 0px 10px 10px 20px;
    font-style: italic;
}

h1 {
  font: 300 32px/1.7 'Open Sans', sans-serif;
  font-weight: bold;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font: 300 24px/1.7 'Open Sans', sans-serif;
  color: #333;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font: 300 20px/1.7 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font: 300 16px/1.7 'Roboto Slab', serif;
  color: #333;
}

code.bold {
  font-weight: bold;
}

ul {
  font: 300 16px/1.7 'Roboto Slab', serif;
  color: #333;
}

pre, code {
  display: inline-block;
  width: 100%;
  font: 14px 'Source Code Pro', monospace;
  color: #111;
  border: 0;
  background-color: #f9f9f9;
  resize: none;
  outline: 0;
  margin: 10px 10px 10px 10px;
}

b,
strong {
  font-weight: bold;
}

/*

Begin search bar CSS

*/

input {
  outline: none;
}
input[type=text] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=text] {
  background: #212328 url(img/search.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=text]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}


#searchform input[type=text] {
  display: block;
  margin: 0 0 0 auto;
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#searchform input[type=text]:hover {
  background-color: #fff;
}
#searchform input[type=text]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#searchform input:-moz-placeholder {
  color: transparent;
}
#searchform input::-webkit-input-placeholder {
  color: transparent;
}


/*

Begin footer CSS

*/


.footer-distributed{
  background-color: #212328;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 12px;
  margin: 3px;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:14px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

